<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <!-- <img src="/adminlte/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
        style="opacity: .8"> -->
        <span class="brand-text font-weight-light">Onlenkan Course</span>
    </a>
  
    <!-- Sidebar -->
    <div class="sidebar">
  
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="nav-icon fas fa-home"></i>
              <p>
                Beranda
              </p>
            </a>
          </li>
  
          <li class="nav-header">Onlenkan-Course</li>
  
          <li class="nav-item">
            <a href="/category" class="nav-link">
              <i class="nav-icon far fa-calendar"></i>
              <p>
                Category
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/course" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Course
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/partvideo" class="nav-link">
              <i class="nav-icon fas fa-tasks"></i>
              <p>
                Part Video
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/video" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                Video
              </p>
            </a>
          </li>
          <li class="nav-header">LIST</li>
  
          <li class="nav-item">
            <a href="/member" class="nav-link">
              <i class="nav-icon fa fa-fw fa-user"></i>
              <p>
                Member
              </p>
            </a>
          </li>
  
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>